
    
@include breakpoint($xxs) {
    #wp-admin-bar-show-breakpoint-used .xs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .sm {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .md {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .lg {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xl {
        display: none;
    }
}

@include breakpoint($xs) {
    #wp-admin-bar-show-breakpoint-used .xxs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .sm {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .md {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .lg {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xl {
        display: none;
    }
}


@include breakpoint($sm) {
    #wp-admin-bar-show-breakpoint-used .xxs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .md {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .lg {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xl {
        display: none;
    }
}

@include breakpoint($md) {
    #wp-admin-bar-show-breakpoint-used .xxs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .sm {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .lg {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xl {
        display: none;
    }
}

@include breakpoint($lg) {
    #wp-admin-bar-show-breakpoint-used .xxs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .sm {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .md {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xl {
        display: none;
    }
}

@include breakpoint($xl) {
    #wp-admin-bar-show-breakpoint-used .xxs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .xs {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .sm {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .md {
        display: none;
    }
    #wp-admin-bar-show-breakpoint-used .lg {
        display: none;
    }
}