/**
 * Formidable
 */

 $formidable: 'frm_forms.frm_style_formidable-style.with_frm_style';


 .#{$formidable} .frm-show-form {
     background-color: transparent;
     padding: 0;
 }
 
 
 .#{$formidable} label {
     @include form-label();
 }
 
 
 // Labels (Radiobuttons and checkboxes)
 .#{$formidable} .frm_checkbox label,
 .#{$formidable} .frm_radio label {
     color: $color;
     font-size: 1.125rem;
     text-indent: 0.1rem;
 }
 
 
 .#{$formidable} input {
     @include form-input();
 }
 
 
 .#{$formidable} textarea {
     @include form-textarea();
 }
 
 
 .#{$formidable} select {
    @include form-select();
    @include breakpoint($minsm) {
         width: auto;
         min-width: 480px;
         max-width: 100%;
    }
 }
 
 
 // Buttons
 .#{$formidable} .frm_submit .frm_button_submit,
 .#{$formidable} .frm_submit .frm_final_submit {
     @include button();
     @include button-special();
}

 
 // Fields
 .#{$formidable} .form-field {
     @include form-field();
 }
 
 
  