/**
 * Responsive menu Pro
 */


#responsive-menu-button-wrapper {
	display: inline-block;
}

#responsive_menu_pro_button {
	
	position: relative;
	right: 0;
	top: 5px;
	
	&.responsive_menu_pro_admin_bar_showing {
		margin-top: 0;
	}



}

