/**
 * The Events Calendar
 */

.tribe-list-widget {
	font-size: 1.143rem;
	background-image: url('../images/event-bg.png');
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	color: $color-white;
	text-align: center;
	padding: 5px;
}

.events-list.tribe-bar-is-disabled #tribe-events-content-wrapper,
#tribe-events-content-wrapper,
.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop {
	max-width: 100%;
}


.tribe-list-widget .tribe-event-title {
	font-family: $font-family;
	color: $color-white;
	font-size: 1.5rem;
}

.tribe-list-widget .tribe-event-duration {
	font-size: 1.143rem;
	color: $color-white;
}

.tribe-bar-disabled #tribe-bar-form label {
	font-size: 1rem;
}

.tribe-events-widget-link {
	display: flex;
}


.tribe-events-adv-list-widget .tribe-events-widget-link a,
.tribe-events-back a,
.tribe-events-list-widget .tribe-events-widget-link a,
ul.tribe-events-sub-nav a {
	font-weight: none;
}

.tribe-events-list-separator-month {
	margin: 15px 0;
}

.tribe-events-list-separator-month span {
	font-size: 1.357rem;
	font-family: $header-font;
}

.tribe-events-meta-group .tribe-events-single-section-title {
	font-size: 1.5rem;
}

.tribe-events-loop {
	.tribe-event-schedule-details,
	.tribe-event-venue-details,
	.tribe-events-event-meta {
		font-size: 1rem;
	}
}

.single-tribe_events {
	.tribe-event-schedule-details,
	.tribe-event-venue-details,
	.tribe-events-event-meta {
		font-size: 1rem;
	}
}

.tribe-events-list .type-tribe_events,
.tribe-events-list-separator-month + .type-tribe_events.tribe-events-first {
	padding: 0;
}

.tribe-events-list .tribe-events-event-image {
	max-width: 800px;
	width: 100%;
	margin: 0 0 15px 0;
	float: none;
}

.tribe-bar-disabled #tribe-bar-form #tribe-bar-views {
	width: 100%;
	left: 0;
}

.tribe-events-read-more,
ul.tribe-events-sub-nav a  {
	@include button();
}



.calendar-logo {
	margin-bottom: 5px;
	margin-left: 5px;
	float: right;
}

.blog .tribe_events .featured {
	display: none;
}
