/*
 * Fonts
 */

@font-face {
    font-family: 'AgencyFB';
    font-style: normal;
    font-weight: 400;
    src: local('AgencyFB'),
    url('../fonts/agencyfb.eot'),
    url('../fonts/agencyfb.woff2') format('woff2'),
    url('../fonts/agencyfb.woff') format('woff')
}

// Lato font via Google fonts
