/*
 * SASS Variables
 */


// Breakpoints
$max-width-site: 1920px;
$max-width-page: 1160px;
$max-width-content: 1048px; // Max readable text

 
// Media Queries
$xxs: 0px 479px;
$xs: 480px 767px;
$sm: 768px 991px;
$md: 992px 1200px;
$lg: 1201px 1600px;
$xl: 1601px 1920px;

$minxxs: 0px;
$minxs: 420px;
$minsm: 768px;
$minmd: 992px;
$minlg: 1201px;
$minxl: 1601px;

$maxxxs: 0 419px;
$maxxs: 0 767px;
$maxsm: 0 991px;
$maxmd: 0 1200px;
$maxlg: 0 1600px;
$maxxl: 0;


// Height Wordpress Adminbar from 32px to 46px
$wpadminbarmobile: 0 782px;

// Position: fixed to absolute
$wpadminbarmobilefixed: 0 600px;


// Colours
// @link http://www.color-blindness.com/color-name-hue
$color-black: #000;
$color-nightrider: #333;
$color-acadia: #aaa;
$color-white: #fff;
$color-white-smoke: #f0f0f0;
$color-dark-gray: #aaa;
$color-mortar: #585858;
$color-silver: #ccc;
$color-sun: #f26c36;
$color-gray: #888;



// Base variables
$font-family: 'Lato', Helvetica, Arial, sans-serif;
$header-font: 'AgencyFB',Helvetica, Arial, sans-serif;
$color: $color-mortar;
$font-size: 1.0625rem; // 17px
$font-weight: normal; // 400
$line-height: 1.6875; // Ideal 1.5
$border-radius: 5px;
$transition-duration: 0.25s;
$transition: $transition-duration all;

// Form stuff
$form-button-font-family: $font-family;
$form-button-bgcolor: $color-white;
$form-button-color: $color-mortar;
$form-button-font-size: 1.125rem;
$form-button-font-weight: normal;
$form-button-border: 1px solid $color-mortar;
$form-button-border-radius: $border-radius;
$form-button-hover-bgcolor: $color-sun;
$form-button-hover-color: $color-white;
$form-button-bgcolor-special: $color-sun;

$form-font-family: $font-family;
$form-bgcolor: $color-white;
$form-color: $color;
$form-color-disabled: $color-dark-gray;
$form-bgcolor-disabled: $color-silver;
$form-font-size: 1rem;
$form-font-weight: normal;
$form-border: 1px solid $color-silver;
$form-border-radius: $border-radius;
