body.home {
	#content {
		display: flex;
		flex-flow: column nowrap;
		@include breakpoint($minsm) {
			flex-flow: row wrap;
		}

		article {
			flex: 1;
		}

		#sidebar {
			width: 100%;
			@include breakpoint($minsm) {
				flex: 0 0 300px;
				padding-left: 2vw;
			}
		}

		
	
	}
}
