/**
 * Mixins: Forms and buttons
 */

@mixin form-label() {
	font-family: $form-font-family;
	font-size: 1.125rem;
	font-weight: $form-font-weight;
	color: $form-color;
	line-height: $line-height;
	margin-right: 0.25rem;
	padding: 0.25rem 0 0.25rem 0;
}

@mixin form-input() {
	border-radius: $form-border-radius;
	background-color: $form-bgcolor;
	color: $form-color;
	font-family: $form-font-family;
	font-size: 1.125rem;
	font-weight: $form-font-weight;
	line-height: $line-height;
	padding: 0 5px;
	text-align: left;
	//outline: none;
	border: $form-border;

	&[type='color'],
	&[type='date'],
	&[type='datetime-local'],
	&[type='email'],
	&[type='month'],
	&[type='number'],
	&[type='range'],
	&[type='search'],
	&[type='tel'],
	&[type='text'],
	&[type='time'],
	&[type='url'],
	&[type='week'] {
		text-indent: 0.5rem;
		height: 44px;
		line-height: 44px;
		width: 100%;
		@include breakpoint($minsm) {
			max-width: 480px;
		}
	}
	&:disabled {
		background-color: $form-bgcolor-disabled;
		color: $form-color-disabled;
	}
	&:not([type='file']):focus {
		background-color: $form-bgcolor;
		border: $form-border;
		box-shadow: none;
	}
}

@mixin form-textarea() {
	font-family: $form-font-family;
	font-size: $form-font-size;
	font-weight: $form-font-weight;
	color: $form-color;
	line-height: $line-height;
	margin-bottom: 0.75rem;
	min-height: 255px;
	padding: 0.5rem;
	text-indent: 0.5rem;
	border: $form-border;
	border-radius: $form-border-radius;
}

@mixin form-select() {
	font-family: $form-font-family;
	font-size: $form-font-size;
	font-weight: $form-font-weight;
	color: $form-color;
	line-height: $line-height;
	padding: 0.5rem;
	height: 44px;
	border: $form-border;
	border-radius: $form-border-radius;
	&:disabled {
		background-color: $form-bgcolor-disabled;
		color: $form-color-disabled;
	}
	option:disabled {
		background-color: $form-bgcolor-disabled;
		color: $form-color-disabled;
	}
}

@mixin button($bgcolor: $form-button-bgcolor, $color: $form-button-color) {
	background-color: $bgcolor;
	border: $form-button-border;
	border-radius: $form-button-border-radius;
	box-shadow: none;
	display: inline-block;
	color: $color;
	cursor: pointer;
	font-family: $form-button-font-family;
	font-size: 1.125rem;
	font-weight: $form-button-font-weight;
	line-height: 1.5;
	padding: 10px 30px;
	text-decoration: none;
	text-align: center;
	transition: $transition;
	width: auto;
	&:visited {
		background-color: $bgcolor;
		color: $color;
	}
}

@mixin button-hover($bgcolor: $form-button-hover-bgcolor, $color: $form-button-hover-color) {
	&:hover {
		background-color: $bgcolor;
		color: $color;
		transition: $transition;
	}
	&:visited:hover {
		background-color: $bgcolor;
		color: $color;
		transition: $transition;
	}
}

// Special buttons (Submit etc...)
@mixin button-special() {
	background-color: $form-button-bgcolor-special;
	color: $color-white;
	border: none;
	&:visited {
		background-color: $form-button-bgcolor-special;
		color: $color-white;
	}
	&:visited:hover,
	&:hover {
		background-color: lighten($form-button-bgcolor-special, 15%);
		color: $color-white;
	}
}

@mixin form-field() {
	margin-bottom: 1rem;
}
