/**
 * Mixins
 */


/**
 * Header mixins
 */
@mixin h1 {
	font-size: 2.5rem;
	line-height: 1.15;
}

@mixin h2 {
	font-size: 1.75rem;
	line-height: 1.25;
}

@mixin h3 {
	font-size: 1.5rem;
	line-height: 1.25;
}

@mixin h4 {
	font-size: 1.3rem;
	line-height: 1.25;
}

// Full width element
@mixin full-width() {
	width: 100vw;
	margin-left: calc(50% - 50vw);
}

// Add padding to the sides of the page when needed
@mixin add-site-padding-mobile() {
	@include breakpoint(0 $max-width-page + 15px) {
		padding-left: 2vw;
		padding-right: 2vw;
	}

	@include breakpoint($maxxs) {
		padding-left: 10px;
		padding-right: 10px;
	}
}

@mixin center-element($max-width: $max-width-site) {
	margin: 0 auto;
	max-width: $max-width;
	padding-left: 2vw;
	padding-right: 2vw;
	@include breakpoint($minmd) {
		padding-left: 3vw;
		padding-right: 3vw;
	}
}

@mixin grid-breakpoints-width() {

	width: 100%;
	@include breakpoint($xs) {
		width: (100% / 2);
	}
	@include breakpoint($sm) {
		width: (100% / 2);
	}
	@include breakpoint($md) {
		width: (100% / 3);
	}
	@include breakpoint($lg) {
		width: (100% / 4);
	}
	@include breakpoint($minxl) {
		width: (100% / 5);
	}
}

@mixin image-size($name, $size)
{
	
	img.size-#{$name} {
		width: 100%;
		max-width: $size;
	}

	// Set limits
	figure.image-wrapper.size-#{$name} {
		width: 100%;
		max-width: $size;
	}

}


