/**
 * Elements
 */


 article {
	background-color: $color-white;
	padding: 2vw 0;
	border-radius: $border-radius;
	min-height: 40vh;

	h2.entry-title a {
		color: $color-sun;
	
	}

	&.type-post {
		display: flex;
		flex-flow: row wrap;

		.entry-header,
		.image-content  {
			width: 100%;
		}

		@include breakpoint($minsm)
		{
			.image-content {
				padding-left: 2rem;
				width: 30%;
			}
			.entry-content {
				width: 100%;
				max-width: $max-width_content;
			}
		}

	}
	
}



.entry-footer {
	display: inline-block;
	margin-bottom: 1rem;
}


 .date-published {
	display: block;
	margin: 0;
	color: $color-dark-gray;
}

@include breakpoint($maxxs) {
	.date-published {
		margin: 0 0 15px 0;
	}
}

.pagination {
	a {
		@include button();
		&:hover {
			@include button-hover();
		}
	}

	.current,
	.dots {
		@include button();
		cursor: default;
		background-color: $color-silver;
	}

	.dots {
		padding-left: 5px;
		padding-right: 5px;
	}

}




#social-buttons {
	display: flex;
	justify-content: flex-end;

	@include breakpoint($maxxs) {
		text-align: right;
		margin-top: 15px;
	}

	a {
		display: inline-block;
		margin-right: 5px;
	}
	img {
		width: 42px;
		height: 42px;
	}
}




// Responsive video embed container
@include breakpoint($maxsm) {
	.video-container {
		position: relative;
		padding-bottom: 56.25%;
		padding-top: 30px;
		height: 0;
		overflow: hidden;
	}
	.video-container iframe,
	.video-container object,
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.entry-content iframe,
	.entry-content object,
	.entry-content embed {
		max-width: 100%;
	}
}
