/**
 * Footers
 */

#footer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	@include center-element($max-width-page);

}

#footer-sidebar-wrapper {
	background-color: $color-black;
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;
    padding: 1vw 2vw;

    .footer-sidebar {

    	@include breakpoint($minmd) {
			width: 50%;
        }
    }


	.widget_search {
		label {
			display: none;
		}
		input {
			max-width: 240px;
			margin-bottom: 5px;
		}
		button {
			@include button-special();
		}
	}
}

#copyright-wrapper {
	display: flex;
	flex-flow: column;
	align-items: center;
	width: 100%;
	color: $color-white;
}

#theme-version {
}
