/**
 * Forms & buttons
 */


// Labels
form label {
    @include form-label();
}


// Input
form input {
    @include form-input();
    @include breakpoint($maxxs) {
	    width: 100%;
	}
}

form textarea {
	@include form-textarea();
    @include breakpoint($maxxs) {
	    width: 100%;
	}
}


// Select
form select {
   	@include form-select();
   	@include breakpoint($maxxs) {
	    width: 100%;
	}
}


// Buttons
button,
input[type='submit'],
.button {
	@include button();
	@include button-hover();
	@include breakpoint($maxxs) {
		width: 100%;
	}
}


// Submit buttons
input[type='submit'] {
	@include button-hover();
}


// Special buttons
.button.special {
	background-color: $form-button-bgcolor-special;
}

