// WP Gallery
.gallery {
	display: flex;
	flex-flow: row wrap;

}

dl.gallery-item {
	@include grid-breakpoints-width();
	dt.gallery-icon {
		padding: 1vw;
		img {
			width: 100%;
			height: auto;
		}
	}
}


// Button that links to a media category gallery
.media-category-wrapper.has-image {
	a {
		display: inline-block;
		position: relative;

		h3 {
			display: flex;
			align-items: center;
			min-height: 70px;
			top: 0;		
			left: 0;
			right: 0;
			position: absolute;
			background-color: rgba($color-white, 0.8);
			padding: 5px 15px;
		}
		margin: 1vw;
		&:hover {
			h3 {
			background-color:  rgba($color-sun, 0.8);
			color: $color-white;
			}
		}
	}
}


body.tax-media_category .entry-content {
	display: flex;
	flex-flow: row wrap;
	.media-category-wrapper.has-image {
		@include grid-breakpoints-width();
			img {
				width: 100%;
				height: auto;
			}
		
	}
}