/*
 * Headers
 */

#masthead {

	@include center-element($max-width-page);
	z-index: 1;
}


#masthead-site-branding {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
	@include breakpoint($minsm) {
		flex-flow: row nowrap;
	}

	padding: 1vw 2vw;
	background-color: $color-white;
}

#header-logo-link {
	display: inline-block;
	@include breakpoint($maxsm) {
		img {
			max-width: 280px;
		}
	}
	@include breakpoint($maxxs) {
		img {
			max-width: 200px;
		}
	}
}

#header-sidebar {
	width: 100%;
	@include breakpoint($maxsm) {
		order: 3;
	}

}

@include breakpoint($maxxs) {
	#responsive-menu-button-wrapper {
		position: relative;
		width: 50px;
		height: 50px;
	}
}

#site-header {
	 display: flex;
	img {
		object-fit: cover;
		width: 100%;
	}
	@include breakpoint($maxsm) {
		display: none;
	}
}
