/**
 * Images
 */

 
 .entry-content	img {
	height: auto;
}


// Remove all the floats from img tag (float wrapper and figure instead)
.entry-content img.alignleft,
.entry-content img.aligncenter,
.entry-content img.alignright, {
	float: none;
	margin: 0;
}


// Create image wrapper and set floats
figure.image-wrapper {

	margin: 0;

	&.alignleft,
	&.alignright {
		margin-bottom: 25px;
	}

	@include breakpoint($minsm) {
		&.alignleft {
			float: left;
			margin-right: 25px;
			clear: left;
		}
		&.alignright {
			float: right;
			margin-left: 25px;
			clear: left;
		} 
	}

	@include breakpoint($sm) {
		&.alignleft,
		&.alignright {
			width: 50%;
		}
	}
}


// Mobile stuff
@include breakpoint($maxxs) {

	.entry-main-wrapper.alignleft,
	.entry-main-wrapper.alignright {
		// Mobile news, Always show images under text
		// flex-flow: column-reverse nowrap; // Not working IE11 (height problem)
		display: block;
		.image-wrapper {
			width: 100%;
			padding: 0;
		}
	}
}


@include image-size('thumbnail', 150px);
@include image-size('medium_middle', 400px);
@include image-size('medium_large', 600px);
@include image-size('large', 1024px);

