/*
 * Menus
 */
/**
 * Desktop menu
 */

#site-navigation {
	display: flex;
	background-color: $color-black;

	// Hide desktop menu breakpoint
	@include breakpoint($maxxs) {
		display: none;
	}
	

}

#main-menu {

	padding: 0 2vw;

	li {
		position: relative;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	// Parent level only
	& > li {
		display: inline-block;
		vertical-align: top;
		margin-left: -4px;
	}

	a {
		font-family: $header-font;
		color: $color-white;
		font-size: 1.5rem;
		font-weight: normal;
		padding: 5px 10px;
		display: block;
		text-decoration: none;
		transition: all 300ms ease 0s;
		&:hover {
			//background: $color-very-light-grey;
		}
	}
	.menu-item-has-children a {
		padding: 5px 25px 5px 10px;
	}

	.menu-item-has-children:before {
		padding: 0;
		font-family: dashicons;
		content: '\f140';
		color: $color-white;
		position: absolute;
		bottom: 5px;
		font-size: 26px;
		right: 5px;
	}

	// Submenus
	& > li > ul {
		display: none;
		list-style: none;
		margin: 0;
		padding: 0;
	
		background: $color-black;
		text-align: left;
		position: absolute;
		top: 100%;
		left: 0;
		width: 200px;
		z-index: 999999;
	}

	& > li > ul > li > a {
		padding: 8px 15px;
	}

}
