/**
 * Main site
 */

html {
	font-family: $font-family;
	font-size: 100%;
	line-height: 1;
	font-weight: $font-weight;
	color: $color;
	
}

body {
	font-size: 18px;
	line-height: 1.5;
	background-image: url('../images/code-orange-games-bg.jpg');
	background-attachment: fixed;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}


@include breakpoint($maxsm) {
	body {
		background-attachment: scroll;
		background-repeat: repeat;
		background-size: auto auto;
	}
}

/**
* Headers
* @link https://typecast.com/blog/a-more-modern-scale-for-web-typography
*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font;
	font-weight: normal;
	color: $color-sun;
	font-weight: bold;
	margin: 0;
	padding: 0;
	a {
		color: $color-silver;
	}
}

h1 {
	@include h1();
	margin-bottom: 1.5rem;
}
h2 {
	@include h2();
	margin-bottom: 1rem;
}
h3 {
	@include h3();
	margin-bottom: 0.5rem;
}
h4,
h5,
h6 {
	@include h4();
}

a {
	color: $color-sun;
	text-decoration: none;
	&:visited {
		color: $color-dark-gray;
	}
	&:hover {
		color: $color-dark-gray;
	}
	&:active {
		color: $color-mortar;
	}
	&:focus {
		color: $color-mortar;
	}
}


ul, ol {
	margin: 0;
	padding: 0;

	li {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
}

/*
 * Content
 */

#main-wrapper {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: auto;
	@include center-element($max-width-page);

}

#content {
	position: relative;
	padding-top: 2rem;
	padding-bottom: 2rem;
	width: 100%;
	
	padding: 2vw;
	background-color: $color-white;
}
