/**
 * Page miniature
 */

 body.page-template-page-miniature {

	article {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}

	header,
	.zoom,
	.content {
		width: 100%;
		margin-bottom: 15px;
	}
	@include breakpoint($minmd) {
		.zoom {
			width: 50%;
		}
		.content {
			width: 45%;
			
		}
	}

	

	.MagicToolboxContainer {
		display: inline;
	}

	.MagicToolboxSelectorsContainer a {
		float: left;
	}
	div.MagicToolboxContainer.selectorsBottom .MagicToolboxSelectorsContainer {
		padding-top: 0;
	}

	div.MagicToolboxSelectorsContainer img {
		width: 100px;
		height: 100px;
		border: 1px solid $color-white-smoke;
	}
	a[data-zoom-id] img,
	.mz-thumb img {
		box-shadow: none;
	}
	#toggle360 {
		float: left;
		margin: 4px;
		cursor: pointer;
		position: relative;
		img {
			border: 1px solid $color-white-smoke;
			width: 100px;
			height: 100px;
		}
		.label {
			position: absolute;
			bottom: 0;
			right: 0;
			font-size: small;
			color: $color-dark-gray;
		}
	}
}
